.sass-cache
.vagrant
*.css
*.swp
*.html
docs/
doc/
man/
scripts/*.pyc
scripts/__pycache__
books/
images/
!buildbot/public_html/*.css
!pcp-brand/en-US/images/
!pcp-brand/en-US/css/*.css
!pcp-brand/xsl/*.html
papers/landscape.swf
!papers/pcp-presentation/*.html
!papers/pcp-presentation/*.css
favicon.ico
localdefs
links.out
plays/**/*.retry
plays/**/*~
