!!! html
%html
  %head
    = Haml::Engine.new(File.read("assets/haml-includes/head.haml")).render

  %body
    = Haml::Engine.new(File.read("assets/haml-includes/navigation.haml")).render

    %div{:class => 'community-logo'}
    %div{:class => 'site-content'}
      %div{:class => 'how-to is-typeset'}
        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-8 push12-2 colspan8-8 colspan6-6 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--cta'}
                  %h2 Community

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-8 push12-2 colspan8-8 colspan6-6 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    We welcome your involvement in the Performance Co-Pilot project!
                    If you have discovered a bug, or wish to see a specific new feature,
                    please report that in one of the
                    %a{:href => "https://github.com/performancecopilot/pcp/issues"} github issue
                    trackers associated with the PCP
                    %a{:href => "https://github.com/performancecopilot"} organization
                    sub-projects.
                  %p
                    You can follow work that others are actively engaged in
                    using the interactive
                    %a{:href => "http://pcp.io/roadmap"} roadmap
                    which also shows when upcoming releases are scheduled.
                  %p
                    We are greatly interested in any efforts to expand the scope
                    of the available performance metrics with new agents, to port existing
                    performance tools to the PCP APIs, and to develop new clients to
                    consume and display performance data delivered over the PCP APIs.
                  %p
                    If you are interested in getting involved in any of these areas we
                    recommend joining the PCP taskboard, mailing list, Slack channel, IRC channel,
                    writing new code, and sending your changes out early for review.
                  %p
                    Please refer to the
                    %a{:href => "https://github.com/performancecopilot/pcp/blob/master/HACKING"} HACKING
                    file in the top level of the PCP source tree for further information
                    about getting involved.
                    Please read the
                    %a{:href => "/faq.html"} FAQ
                    before posting on the mailing lists.

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %h3 Mailing lists
                  %p
                    General user and developer discussion:
                    %br
                    %a{:href => 'https://groups.io/g/pcp'} pcp@groups.io
                  %p
                    Announcements of new releases and similar information:
                    %br
                    %a{:href => 'https://groups.io/g/pcp-announce'} pcp-announce@groups.io
              %div{:class => 'colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %h3 Chat
                  %p
                    You can also chat directly with some of the PCP developers, on the #pcp IRC channel on the
                    %a{:href => 'https://webchat.freenode.net/?channels=pcp'}FreeNode
                    network, or via our
                    %a{:href => 'https://performancecopilot.slack.com/'}Slack
                    team.

              %div{:class => 'colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %h3 Social
                  %p
                    %ul
                      %li
                        %a{:href => 'https://twitter.com/performancepcp'} Twitter
                      %li
                        %a{:href => 'https://github.com/performancecopilot'} Github

              %div{:class => 'colspan12-8 colspan8-5 colspan6-3 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %br
                  %br
                  %h3 BuildBot
                  %p
                    Help ensure PCP functions perfectly on your favourite platform!
                    %br
                    %a{:href => 'http://buildbot.pcp.io'} BuildBot Web Interface
                    %br
                    %a{:href => '/buildbot.html'} Contribute a BuildBot

    = Haml::Engine.new(File.read("assets/haml-includes/footer.haml")).render
