!!! html
%html
  %head
    = Haml::Engine.new(File.read("assets/haml-includes/head.haml")).render

  %body
    = Haml::Engine.new(File.read("assets/haml-includes/navigation.haml")).render

    %div{:class => 'community-logo'}
    %div{:class => 'site-content'}
      %div{:class => 'how-to is-typeset'}
        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-8 push12-2 colspan8-8 colspan6-6 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--cta'}
                  %h2 Community

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-8 push12-2 colspan8-8 colspan6-6 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    We welcome your involvement in the Performance Co-Pilot project!
                    If you have discovered a bug, or wish to see a specific new feature,
                    please report that in one of the
                    %a{:href => "https://github.com/performancecopilot/pcp/issues"} github issue
                    trackers associated with the PCP
                    %a{:href => "https://github.com/performancecopilot"} organization
                    sub-projects.
                  %p
                    You can follow work that others are actively engaged in
                    using the interactive
                    %a{:href => "http://pcp.io/roadmap"} roadmap
                    which also shows when upcoming releases are scheduled.
                  %p
                    We are greatly interested in any efforts to expand the scope
                    of the available performance metrics with new agents, to port existing
                    performance tools to the PCP APIs, and to develop new clients to
                    consume and display performance data delivered over the PCP APIs.
                  %p
                    It is highly recommended to join the
                    %a{:href => 'https://groups.io/g/pcp/'} mailing list
                    and
                    %a{:href => 'https://slackin-tcwvlllkkf.now.sh/'} Slack
                    or
                    %a{:href => 'https://webchat.freenode.net/?channels=pcp'} IRC
                    channel.
                  %p
                    Please refer to the
                    %a{:href => "https://github.com/performancecopilot/pcp/blob/master/HACKING.md"} HACKING
                    file in the PCP source tree for further information.
                    You are also encouraged to read the
                    %a{:href => "/faq.html"} FAQ
                    before posting on the mailing list.

        %div{:class => 'row-parent'}
          %div{:class => 'features_title row'}
            %h2{:id => 'mail'} Mailing lists
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-12 colspan8-8 colspan6-6 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    General user and developer discussion:
                    %br
                    %a{:href => 'https://groups.io/g/pcp'} pcp@groups.io
                  %p
                    Announcements of new releases and similar information:
                    %br
                    %a{:href => 'https://groups.io/g/pcp-announce'} pcp-announce@groups.io

        %div{:class => 'row-parent'}
          %div{:class => 'features_title row'}
            %h2{:id => 'chat'} Chat
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-12 colspan8-8 colspan6-6 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    You can chat directly with the PCP developers on the #pcp IRC channel on the
                    %a{:href => 'https://webchat.freenode.net/?channels=pcp'}FreeNode
                    network, or via our
                    %a{:href => 'https://slackin-tcwvlllkkf.now.sh/'} Slack
                    team.

        %div{:class => 'row-parent'}
          %div{:class => 'features_title row'}
            %h2{:id => 'funds'} Funding
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-12 colspan8-8 colspan6-6 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    %ul
                      %li
                        %a{:href => 'https://devswag.com/products/performance-co-pilot-t-shirt'} T-shirts
                        and
                        %a{:href => 'https://devswag.com/products/pcp'} Stickers
                        %br
                        A percentage of profits from sale of PCP merchandise
                        is used to fund continued development and support.
                      %li
                        You can also
                        %a{:href => 'http://spi-inc.org/projects/pcp/'} donate
                        directly via our not-for-profit fiscal sponsor
                        %a{:href => 'http://spi-inc.org/'} SPI, Inc
                        (Software in the Public Interest).

    = Haml::Engine.new(File.read("assets/haml-includes/footer.haml")).render
