!!! html
%html
  %head
    = Haml::Engine.new(File.read("assets/haml-includes/head.haml")).render

  %body
    = Haml::Engine.new(File.read("assets/haml-includes/navigation.haml")).render

    %div{:class => 'hero'}
      %div{:class => 'colspan12-8 push12-2 colspan8-6 push8-1 colspan6-4 push6-1 colspan2-2'}
        %div{:class => 'col__module col__module--cta'}
          %h1 Documentation
          %div{:class => 'button-five'}
            %a{:href => '/docs/pcpintro.html'} Introduction to PCP
          %div{:class => 'button-four'}
            %a{:href => '/docs/installation.html'} Installation
          %div{:class => 'button-three'}
            %a{:href => '/docs/guide.html'} Quick Reference Guide 
          %div{:class => 'button-two'}
            %a{:href => '/docs/overview.html'} Charts Overview
          %div{:class => 'button-one'}
            %a{:href => '/docs/timecontrol.html'} Time Control Overview

    %div{:class => 'site-content'}
      %div{:class => 'how-to is-typeset'}

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %h3
                    %a{:href => 'https://man7.org/linux/man-pages/dir_by_project.html#PCP'} Man pages
                  %p
                    All of the manual pages for PCP tools and APIs
                  %br

                  %h3
                    %a{:href => '/slides/'} Slides
                  %p
                    An online presentation about PCP
                  %br

                  %h3
                    %a{:href => 'https://pcp.readthedocs.io'} Guides
                  %p
                    Users and Administrators Guide, Programmers and REST API Guides
                  %br

                  %h3 
                    %a{:href => 'presentations.html'} Papers
                  %p
                    Reference papers and presentations we have permission to reproduce.
                  %br

                  %h3 
                    %a{:href => 'screenshots.html'} Screenshots
                  %p
                    Screenshots from a handful of PCP GUI and console tools,
                    and the more recent
                    %a{:href => 'https://grafana-pcp.readthedocs.io/en/latest/screenshots.html'} Grafana PCP
                    plugin.
                  %br

              %div{:class => 'colspan12-8 colspan8-5 colspan6-4 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %h3 Short Guides
                  %ul
                    %li
                      %a{:href => '/docs/lab.pmchart.html'} Using Charts
                    %li
                      %a{:href => '/docs/lab.pmlogger.html'} Logging Basics
                    %li
                      %a{:href => '/docs/lab.pmie.html'} Automated Reasoning Basics
                    %li
                      %a{:href => '/docs/lab.pmieconf.html'} Configuring Automated Reasoning
                    %li
                      %a{:href => '/docs/lab.containers.html'} Analysis of Linux Containers
                    %li
                      %a{:href => '/docs/lab.secure.html'} Secure Connections
                    %li
                      %a{:href => '/docs/lab.secureclient.html'} Secure Client Connections
                    %li
                      %a{:href => '/docs/lab.auth.html'} Authenticated Connections
                    %li
                      %a{:href => '/docs/lab.importdata.html'} Importing data and creating PCP archives (C, Perl)
                    %li
                      %a{:href => '/docs/lab.pmview.html'} Using 3D Views (experimental) 

    %div{:class => 'hero'}
      %div{:class => 'colspan12-8 push12-2 colspan8-6 push8-1 colspan6-4 push6-1 colspan2-2'}
        %div{:class => 'col__module col__module--cta'}
          %h1 Case Studies
          %div{:class => 'button-one'}
            %a{:href => '/docs/howto.cpuperf.html'} Analysing processor utilization
          %div{:class => 'button-two'}
            %a{:href => '/docs/howto.diskperf.html'} Analysing storage performance
          %div{:class => 'button-three'}
            %a{:href => '/docs/howto.systemlog.html'} System Event Log Instrumentation 
          %div{:class => 'button-four'}
            %a{:href => '/docs/howto.diskmodel.html'} Comparing storage performance
          %div{:class => 'button-five'}
            %a{:href => '/docs/howto.enterprise.html'} Management framework integration 
          %div{:class => 'button-one'}
            %a{:href => 'https://rhelblog.redhat.com/2015/12/18/getting-started-using-performance-co-pilot-and-vector-for-browser-based-metric-visualizations/'} Setting Up PCP with Vector

    %div{:class => 'hero2'}
      %div{:class => 'colspan12-8 push12-2 colspan8-6 push8-1 colspan6-4 push6-1 colspan2-2'}
        %div{:class => 'col__module col__module--cta'}
          %h1 Videos

          %div{:class => 'row-parent'}
            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--img'}
                    %a{:href => 'https://youtu.be/Jnnz5rnzefc'}
                      %img{:src => 'images/ansible-metrics-role.jpg'}
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--img'}
                    %p Ansible 'metrics' Role

          %div{:class => 'row-parent'}
            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--img'}
                    %a{:href => 'https://www.youtube.com/watch?v=fTWAn1K7eQQ'}
                      %img{:src => 'images/practical-pcp-grafana.jpg'}
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--img'}
                    %p Practical Performance Co-Pilot and Grafana

          %div{:class => 'row-parent'}
            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--img'}
                    %a{:href => 'https://www.youtube.com/watch?v=4Dt_VDFLDnw'}
                      %img{:src => 'images/pcp-vector-demo.jpg'}
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--img'}
                    %p Performance Co-Pilot and Vector new features in RHEL-8.0

          %div{:class => 'row-parent'}
            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--img'}
                    %a{:href => 'https://www.youtube.com/watch?v=zrAjevr8_Ds'}
                      %img{:src => 'images/video-exploratory-perf-analysis.jpg'}
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--img'}
                    %p Exploratory Performance Analysis with Performance Co-Pilot

          %div{:class => 'row-parent'}
            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--img'}
                    %a{:href => 'https://www.youtube.com/watch?v=Ip3ITBUAcjU'}
                      %img{:src => 'images/storage-performance-pcp.jpg'}
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--img'}
                    %p Evaluating Red Hat Storage Performance using Performance Co-Pilot

          %div{:class => 'row-parent'}
            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--img'}
                    %a{:href => 'https://www.youtube.com/watch?v=749lE2zjz3I'}
                      %img{:src => 'images/programming-pcp-toolkit.jpg'}
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--img'}
                    %p Programming the Performance Co-Pilot toolkit

          %div{:class => 'row-parent'}
            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--img'}
                    %a{:href => 'https://www.youtube.com/watch?v=Z9fSymDfuvQ'}
                      %img{:src => 'images/regression-analysis-pcp.jpg'}
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--img'}
                    %p Regression Analysis with Performance Co-Pilot 

    = Haml::Engine.new(File.read("assets/haml-includes/footer.haml")).render
