!!! html
%html
  %head
    = Haml::Engine.new(File.read("assets/haml-includes/head.haml")).render

  %body
    = Haml::Engine.new(File.read("assets/haml-includes/navigation.haml")).render

    %div{:class => 'site-content'}
      %div{:class => 'how-to is-typeset'}
        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-8 push12-2 colspan8-8 colspan6-6 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--cta'}
                  %h2 Download
                %p 
                  Pre-built Performance Co-Pilot packages and containers can be installed from
                  %a{:href => 'https://performancecopilot.jfrog.io'} Artifactory.
                %p 
                  Please follow the
                  %a{:href => 'https://pcp.readthedocs.io/en/latest/HowTos/installation/index.html'} installation instructions
                  on how to setup the Artifactory repositories for your distribution.
                %p 
                  To verify signed package builds, use the PCP maintainers
                  %a{:href => 'http://pcp.io/GPG-KEY-PCP'} public key.

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-8 push12-2 colspan8-8 colspan6-6 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--cta'}
                  %h2 Distributions
                %p 
                  Performance Co-Pilot is already included in the most popular distributions
                  (RHEL, Debian, Fedora, Suse, Ubuntu). Here are some instructions to install PCP
                  from your distribution.

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-6 colspan8-4 colspan6-3 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => '/images/debian.png'}
                  %h3 Debian / Ubuntu
                  %pre
                    :preserve
                      apt-get install pcp
                      invoke-rc.d pmcd start
                      invoke-rc.d pmie start
                      invoke-rc.d pmlogger start

              %div{:class => 'colspan12-6 colspan8-4 colspan6-3 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => '/images/fedora.png'}
                  %h3 Fedora / RHEL
                  %pre
                    :preserve
                      yum install pcp
                      # RHEL 6
                      service pmcd start
                      service pmlogger start
                      service pmie start
                      # RHEL 7 and later / Fedora
                      systemctl start pmcd
                      systemctl start pmie
                      systemctl start pmlogger

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-6 colspan8-4 colspan6-3 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => '/images/opensuse.png'}
                  %h3 openSUSE
                  %p 
                    %a{:href => 'https://software.opensuse.org/package/pcp'} Direct Install
                    link

              %div{:class => 'colspan12-6 colspan8-4 colspan6-3 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => '/images/solaris.png'}
                  %h3 Solaris
                  %p
                    %a{:href => 'https://bintray.com/pcp/solaris11'} Here
                    are the Solaris packages

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-6 colspan8-4 colspan6-3 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => '/images/macosx.png'}
                  %h3 Mac OSX
                  %p 
                    %a{:href => 'https://bintray.com/pcp/macosx'} DMG
                    files

              %div{:class => 'colspan12-6 colspan8-4 colspan6-3 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => '/images/windows.png'}
                  %h3 Windows
                  %p
                    %a{:href => 'https://bintray.com/pcp/windows'} Here
                    are the Windows MSI packages (NB: they are a bit outdated, we're working on it)

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-12 colspan8-8 colspan6-6 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--cta'}
                  %a{:name => "source"}
                  %h2 Source code
                  %p 
                    Source .tar.gz files can be found here:
                    %a{:href => 'https://bintray.com/pcp/source'} PCP source
                  %p
                    Git clone from the
                    %a{:href => 'https://github.com/performancecopilot/pcp'} PCP repository
                  %br
                  %p
                    Grafana plugin:
                    %a{:href => 'https://github.com/performancecopilot/grafana-pcp'} git://github.com/performancecopilot/grafana-pcp.git
                  %p
                    Ansible roles:
                    %a{:href => 'https://github.com/performancecopilot/ansible-pcp'} git://github.com/performancecopilot/ansible-pcp.git
                  %p
                    Java instrumentation:
                    %a{:href => 'https://github.com/performancecopilot/parfait'} git://github.com/performancecopilot/parfait.git
                  %p
                    C++ PMDA interface:
                    %a{:href => 'https://github.com/pcolby/pcp-pmda-cpp.git'} git://github.com/pcolby/pcp-pmda-cpp.git
                  %p
                    Apache Qpid metrics:
                    %a{:href => 'https://github.com/pcolby/pcp-pmda-qpid.git'} git://github.com/pcolby/pcp-pmda-qpid.git
                  %p
                    PDF graph converter:
                    %a{:href => 'https://github.com/performancecopilot/pcp2pdf'} git://github.com/performancecopilot/pcp2pdf.git

    = Haml::Engine.new(File.read("assets/haml-includes/footer.haml")).render
