!!! html
%html
  %head
    = Haml::Engine.new(File.read("assets/haml-includes/head.haml")).render

  %body
    = Haml::Engine.new(File.read("assets/haml-includes/navigation.haml")).render

    %div{:class => 'site-content'}
      %div{:class => 'how-to is-typeset'}
        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-8 push12-2 colspan8-8 colspan6-6 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--cta'}
                  %h2 Download
                %p 
                  Pre-built Performance Co-Pilot packages and containers can be installed from
                  %a{:href => 'https://bintray.com/pcp'} BinTray
                  First find the
                  %a{:href => 'https://bintray.com/pcp/repositories'} repository
                  and then follow the "Set Me Up" instructions appropriate to your distribution.

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-8 push12-2 colspan8-8 colspan6-6 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--cta'}
                  %h2 Distributions
                %p 
                  Performance Co-Pilot is already included in the most popular distributions
                  (RHEL, Debian, Fedora, Suse, Ubuntu). Here are some instructions to install PCP
                  from your distribution.

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-6 colspan8-4 colspan6-3 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => '/images/debian.png'}
                  %h3 Debian / Ubuntu
                  %pre
                    :preserve
                      apt-get install pcp
                      invoke-rc.d pcp start

              %div{:class => 'colspan12-6 colspan8-4 colspan6-3 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => '/images/fedora.png'}
                  %h3 Fedora / RHEL
                  %pre
                    :preserve
                      yum install pcp
                      # RHEL 6
                      service pcp start
                      # RHEL 7 / Fedora
                      systemctl start pmcd
                      systemctl start pmlogger

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-6 colspan8-4 colspan6-3 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => '/images/opensuse.png'}
                  %h3 openSUSE
                  %p 
                    %a{:href => 'http://software.opensuse.org/package/pcp'} Direct Install
                    link

              %div{:class => 'colspan12-6 colspan8-4 colspan6-3 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => '/images/solaris.png'}
                  %h3 Solaris
                  %p
                    %a{:href => 'https://bintray.com/pcp/solaris11'} Here
                    are the Solaris packages

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-6 colspan8-4 colspan6-3 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => '/images/macosx.png'}
                  %h3 Mac OSX
                  %p 
                    %a{:href => 'https://bintray.com/pcp/macosx'} DMG
                    files

              %div{:class => 'colspan12-6 colspan8-4 colspan6-3 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => '/images/windows.png'}
                  %h3 Windows
                  %p
                    %a{:href => 'https://bintray.com/pcp/windows'} Here
                    are the Windows MSI packages (NB: they are a bit outdated, we're working on it)

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-12 colspan8-8 colspan6-6 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--cta'}
                  %a{:name => "source"}
                  %h2 Source code
                  %p 
                    Source .tar.gz files can be found here:
                    %a{:href => 'https://bintray.com/pcp/source'} PCP FTP
                  %p
                    Git clone from the
                    %a{:href => 'https://github.com/performancecopilot'} github
                    PCP project, or
                    %a{:href => 'http://git.pcp.io/cgi-bin/gitweb.cgi?p=pcp/pcp.git;a=summary'} git://git.pcp.io/pcp
                  %br
                  %p
                    C++ PMDA interface:
                    %a{:href => 'https://github.com/pcolby/pcp-pmda-cpp.git'} git://github.com/pcolby/pcp-pmda-cpp.git
                  %p
                    Apache Qpid metrics:
                    %a{:href => 'https://github.com/pcolby/pcp-pmda-qpid.git'} git://github.com/pcolby/pcp-pmda-qpid.git
                  %p
                    Javascript frontends:
                    %a{:href => 'https://sourceware.org/git/?p=pcpfans.git;a=shortlog;h=refs/heads/webjs'} git://sourceware.org/pcpfans.git webjs
                  %p
                    Netflix Vector frontend:
                    %a{:href => 'https://github.com/Netflix/vector'} git://github.com/Netflix/Vector.git

    = Haml::Engine.new(File.read("assets/haml-includes/footer.haml")).render
