!!! html
%html
  %head
    = Haml::Engine.new(File.read("assets/haml-includes/head.haml")).render

  %body
    = Haml::Engine.new(File.read("assets/haml-includes/navigation.haml")).render

    %div{:class => 'site-content'}
      %div{:class => 'how-to is-typeset'}
        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'logo colspan12-12 colspan8-8 colspan6-6 colspan2-2 as-grid with-gutter'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-8 push12-2 colspan8-8 colspan6-6 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--cta'}
                  %h2 Performance Co-Pilot
                  %p Performance Co-Pilot is a system performance analysis toolkit.
                  %br
                  Register for
                  %a{:href => '/conference/2018/home.html'} PCP.CONF 2018!

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => 'images/collect.png'}
                  %h3 Collect
                  %ul
                    %li
                      %strong Lightweight
                      \: 
                      %a{:href => '/features.html#collect'} Collect
                      performance metrics from your systems efficiently.
                    %li
                      %strong Distributed
                      \: Collate metrics from 
                      %a{:href => '/features.html#distributed'} multiple hosts
                      and a variety of operating systems.
                    %li
                      %strong Included
                      \: Everything you need is already included in the major distributions: Fedora, RHEL, Debian, SUSE, Ubuntu, Gentoo

              %div{:class => 'colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => 'images/analyze.png'}
                  %h3 Analyze
                  %p
                    %a{:href => '/features.html#analyze'} Analyze
                    systems' performance metrics in real-time or using historical data.
                  %p 
                    Compare performance metrics between different hosts and different intervals.
                    Observe trends and identify abnormal patterns.

              %div{:class => 'colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => 'images/extend.png'}
                  %h3 Extend
                  %p
                    %a{:href => '/features.html#extend'}Extend
                    the collected performance metrics in a simple way.
                  %p
                    PCP offers a multitude of APIs and libraries to extract and
                    make use of performance metrics from your own application.

    %div{:class => 'hero'}
      %div{:class => 'colspan12-8 push12-2 colspan8-6 push8-1 colspan6-4 push6-1 colspan2-2'}
        %div{:class => 'col__module col__module--cta'}
          %h1 Use Performance Co-Pilot Now
          %div{:class => 'button-one'}
            %a{:href => '/docs/guide.html'} Quickstart
          %div{:class => 'button-two'}
            %a{:href => '/download.html'} Download
          %div{:class => 'button-four'}
            %a{:href => '/testimonials.html'} Who's Using It?
          %div{:class => 'button-five'}
            %a{:href => '/documentation.html'} Learn More

    %div{:class => 'hero2'}
      %div{:class => 'colspan12-8 push12-2 colspan8-6 push8-1 colspan6-4 push6-1 colspan2-2'}
        %div{:class => 'col__module col__module--cta'}
          %h1 News
          %div{:class => 'row-parent'}

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Jun 2018
                      %br
                      PCP 4.1.0
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      A colourful new
                      %a{:href => '/man/man1/pcp-dstat.1.html'} pcp-dstat
                      utility, building on the dstat legacy.
                      Archive discovery and log tailing APIs.
                      eBPF/BCC PMDA additions - new modules, histograms.
                      Kernel metrics - AIO, interrupts, socket statistics,
                      file locking, OOM, session count metrics.
                      Automatic metadata compression.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      May 2018
                      %br
                      PCP 4.0.2
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Further archive management improvements.
                      New
                      %a{:href => '/man/man1/pcp-pidstat.1.html'} pcp-pidstat
                      process tracking features.
                      Performance improvements and label filtering in the
                      %a{:href => '/man/man1/pmdaprometheus.1.html'} Prometheus
                      PMDA.
                      The
                      %a{:href => '/man/man1/pmdanfsclient.1.html'} nfsclient
                      PMDA rewritten in python.
                      New
                      %a{:href => '/man/man1/pmdasmart.1.html'} SMART
                      PMDA for disk health monitoring.
                      Better handling of compressed archives in
                      %a{:href => '/man/man1/pmwebd.1.html'} pmwebd.
                      Numerous important SELinux updates and bug fixes in libpcp.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      March 2018
                      %br
                      PCP 4.0.1
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Archive management improvements allowing fine-grained compression.
                      New shell-based PCP service discovery.
                      New daily reporting utility,
                      %a{:href => '/man/man1/pmlogger_daily_report.1.html'} pmlogger_daily_report.
                      Scalability improvements and metric filtering in the 
                      %a{:href => '/man/man1/pmdaprometheus.1.html'} Prometheus PMDA.
                      The
                      %a{:href => '/man/man1/pmdapostgresql.1.html'} PostgreSQL PMDA
                      now supports up to version 9.6.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Feb 2018
                      %br
                      PCP 4.0.0
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Metric label metadata.  PMAPI refactoring.
                      Recording of labels and help text by
                      %a{:href => '/man/man1/pmlogger.1.html'} pmlogger
                      Several new
                      %a{:href => '/man/man1/pmrep.1.html'} pmrep
                      analytic and reporting features.
                      Linux kernel, Prometheus, BCC/eBPF and other new
                      and improved metrics.
                      Async client notification of namespace changes.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Oct 2017
                      %br
                      PCP 3.12.2
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Improvements to SELinux policy via custom PCP package.
                      New Utilities: pcp2elasticsearch, pcp2json, pcp2xlsx, pcp2xml, pcp2zabbix.
                      pmrep enhancements.
                      pmwebd: improved performance, hostname-based naming.
                      python API improvements.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Aug 2017
                      %br
                      PCP 3.12.1
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      New
                      %a{:href => 'https://haproxy.org'} HAProxy
                      agent.
                      Linux Device Mapper regions and NFSD metrics.
                      Several
                      %a{:href => '/man/man1/pmdaprometheus.1.html'} Prometheus
                      endpoint PMDA improvements.

    = Haml::Engine.new(File.read("assets/haml-includes/footer.haml")).render
