!!! html
%html
  %head
    = Haml::Engine.new(File.read("assets/haml-includes/head.haml")).render

  %body
    = Haml::Engine.new(File.read("assets/haml-includes/navigation.haml")).render

    %div{:class => 'site-content'}
      %div{:class => 'how-to is-typeset'}
        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'logo colspan12-12 colspan8-8 colspan6-6 colspan2-2 as-grid with-gutter'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-8 push12-2 colspan8-8 colspan6-6 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--cta'}
                  %h2 Performance Co-Pilot
                  %p Performance Co-Pilot is a system performance analysis toolkit.

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => 'images/collect.png'}
                  %h3 Collect
                  %ul
                    %li
                      %strong Lightweight
                      \: 
                      %a{:href => '/features.html#collect'} Collect
                      performance metrics from your systems efficiently.
                    %li
                      %strong Distributed
                      \: Collate metrics from 
                      %a{:href => '/features.html#distributed'} multiple hosts
                      and a variety of operating systems.
                    %li
                      %strong Included
                      \: Everything you need is already included in the major distributions: Fedora, RHEL, Debian, SUSE, Ubuntu, Gentoo

              %div{:class => 'colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => 'images/analyze.png'}
                  %h3 Analyze
                  %p
                    %a{:href => '/features.html#analyze'} Analyze
                    systems' performance metrics in real-time or using historical data.
                  %p 
                    Compare performance metrics between different hosts and different intervals.
                    Observe trends and identify abnormal patterns.

              %div{:class => 'colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => 'images/extend.png'}
                  %h3 Extend
                  %p
                    %a{:href => '/features.html#extend'}Extend
                    the collected performance metrics in a simple way.
                  %p
                    PCP offers a multitude of APIs and libraries to extract and
                    make use of performance metrics from your own application.

    %div{:class => 'hero'}
      %div{:class => 'colspan12-8 push12-2 colspan8-6 push8-1 colspan6-4 push6-1 colspan2-2'}
        %div{:class => 'col__module col__module--cta'}
          %h1 Use Performance Co-Pilot Now
          %div{:class => 'button-one'}
            %a{:href => '/docs/guide.html'} Quickstart
          %div{:class => 'button-two'}
            %a{:href => '/download.html'} Download
          %div{:class => 'button-four'}
            %a{:href => '/testimonials.html'} Who's Using It?
          %div{:class => 'button-five'}
            %a{:href => '/documentation.html'} Learn More

    %div{:class => 'hero2'}
      %div{:class => 'colspan12-8 push12-2 colspan8-6 push8-1 colspan6-4 push6-1 colspan2-2'}
        %div{:class => 'col__module col__module--cta'}
          %h1 News
          %div{:class => 'row-parent'}

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Apr 2020
                      %br
                      PCP 5.1.0
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Bug-fix release -
                      improved systemd service units and archive logging enhancements.
                      Bug fixes and improvements in
                      %a{:href => '/man/man1/pmproxy.1.html'} pmproxy
                      and several metric agents.
                      Monitor tool improvements and fixes in
                      %a{:href => '/man/man1/pcp-atop.1.html'} pcp-atop
                      and
                      %a{:href => '/man/man1/pcp-pmrep.1.html'} pmrep .
                      Continuous Integration impovements. New
                      %a{:href => '/man/man1/pmdarabbitmq.1.html'} RabbitMQ
                      metrics.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Feb 2020
                      %br
                      PCP 5.0.3
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Bug-fix release -
                      %a{:href => '/man/man1/pmproxy.1.html'} pmproxy
                      archive discovery fixes, suspending and resuming
                      during log rotation and compression.
                      Monitor tool fixes and improvements to
                      %a{:href => '/man/man1/pcp-atop.1.html'} pcp-atop ,
                      %a{:href => '/man/man1/pcp-dstat.1.html'} pcp-dstat
                      and
                      %a{:href => '/man/man1/pmrep.1.html'} pmrep .
                      Collection agent fixes in
                      %a{:href => '/man/man1/pmdabpftrace.1.html'} bpftrace ,
                      %a{:href => '/man/man1/pmdaopenmetrics.1.html'} openmetrics ,
                      %a{:href => '/man/man1/pmdammv.1.html'} MMV ,
                      %a{:href => '/man/man1/pmdalinux.1.html'} Linux
                      and
                      %a{:href => '/man/man1/pmdafreebsd.1.html'} FreeBSD .

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Dec 2019
                      %br
                      PCP 5.0.2
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Bugfix release -
                      %a{:href => '/man/man1/pmseries.1.html'} pmseries,
                      %a{:href => '/man/man1/pmlogger.1.html'} pmlogger
                      and
                      %a{:href => '/man/man1/pmproxy.1.html'} pmproxy
                      in particular.
                      Support for kernel and systemd v2 cgroups use.
                      New REST API extracting all possible values for requested labels.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Nov 2019
                      %br
                      PCP 5.0.1
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Minor bug fix release - especially in REST API and kernel agents.
                      Support for hv_24x7 nest events in the
                      %a{:href => '/man/man1/pmdaperfevent.1.html'} perfevent
                      agent.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Oct 2019
                      %br
                      PCP 5.0.0
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Async I/O REST API via
                      %a{:href => '/man/man1/pmproxy.1.html'} pmproxy
                      and optional HTTPS support.
                      Auto-enabled archive discovery and
                      %a{:href => 'https://redis.io'} Redis
                      time series import via pmproxy.
                      New
                      %a{:href => 'https://www.mankier.com/8/bpftrace'} bpftrace
                      PMDA, works closely with the
                      %a{:href => 'https://github.com/performancecopilot/grafana-pcp'} grafana-pcp
                      bpftrace datasource.
                      New
                      %a{:href => '/man/man1/pmdastatsd.1.html'} statsd
                      ,
                      %a{:href => '/man/man1/pmdanetcheck.1.html'} netcheck
                      and Microsoft
                      %a{:href => '/man/man1/pmdamssql.1.html'} SQL Server
                      PMDAs.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Aug 2019
                      %br
                      PCP 4.3.4
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Bugfix release - systemd and selinux integration fixes.
                      Numerous
                      %a{:href => '/man/man1/pmproxy.1.html'} pmproxy
                      improvements with new and improved
                      %a{:href => '/man/man3/pmwebapi.3.html'} REST APIs
                      for Grafana integration and HTTPS support.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Jun 2019
                      %br
                      PCP 4.3.3
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Primarily bug-fix release.
                      Extended PCP
                      %a{:href => '/man/man3/pmwebapi.3.html'} REST API
                      now available from
                      %a{:href => '/man/man1/pmproxy.1.html'} pmproxy
                      in timeseries mode.

    = Haml::Engine.new(File.read("assets/haml-includes/footer.haml")).render
