!!! html
%html
  %head
    = Haml::Engine.new(File.read("assets/haml-includes/head.haml")).render

  %body
    = Haml::Engine.new(File.read("assets/haml-includes/navigation.haml")).render

    %div{:class => 'site-content'}
      %div{:class => 'how-to is-typeset'}
        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'logo colspan12-12 colspan8-8 colspan6-6 colspan2-2 as-grid with-gutter'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-8 push12-2 colspan8-8 colspan6-6 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--cta'}
                  %h2 Performance Co-Pilot
                  %p Performance Co-Pilot is a system performance analysis toolkit.
                  %strong PCP.CONF 2019
                  %a{:href => 'conference/2019/contact.html'} CFP
                  is now open!

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => 'images/collect.png'}
                  %h3 Collect
                  %ul
                    %li
                      %strong Lightweight
                      \: 
                      %a{:href => '/features.html#collect'} Collect
                      performance metrics from your systems efficiently.
                    %li
                      %strong Distributed
                      \: Collate metrics from 
                      %a{:href => '/features.html#distributed'} multiple hosts
                      and a variety of operating systems.
                    %li
                      %strong Included
                      \: Everything you need is already included in the major distributions: Fedora, RHEL, Debian, SUSE, Ubuntu, Gentoo

              %div{:class => 'colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => 'images/analyze.png'}
                  %h3 Analyze
                  %p
                    %a{:href => '/features.html#analyze'} Analyze
                    systems' performance metrics in real-time or using historical data.
                  %p 
                    Compare performance metrics between different hosts and different intervals.
                    Observe trends and identify abnormal patterns.

              %div{:class => 'colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => 'images/extend.png'}
                  %h3 Extend
                  %p
                    %a{:href => '/features.html#extend'}Extend
                    the collected performance metrics in a simple way.
                  %p
                    PCP offers a multitude of APIs and libraries to extract and
                    make use of performance metrics from your own application.

    %div{:class => 'hero'}
      %div{:class => 'colspan12-8 push12-2 colspan8-6 push8-1 colspan6-4 push6-1 colspan2-2'}
        %div{:class => 'col__module col__module--cta'}
          %h1 Use Performance Co-Pilot Now
          %div{:class => 'button-one'}
            %a{:href => '/docs/guide.html'} Quickstart
          %div{:class => 'button-two'}
            %a{:href => '/download.html'} Download
          %div{:class => 'button-four'}
            %a{:href => '/testimonials.html'} Who's Using It?
          %div{:class => 'button-five'}
            %a{:href => '/documentation.html'} Learn More

    %div{:class => 'hero2'}
      %div{:class => 'colspan12-8 push12-2 colspan8-6 push8-1 colspan6-4 push6-1 colspan2-2'}
        %div{:class => 'col__module col__module--cta'}
          %h1 News
          %div{:class => 'row-parent'}

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Nov 2018
                      %br
                      PCP 4.2.0
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      %a{:href => 'https://podman.io/'} podman
                      container metrics and PMDA.
                      New
                      %a{:href => '/man/man1/pmdaelasticsearch.1.html'} elasticsearch
                      and
                      %a{:href => '/man/man1/pmdalmsensors.1.html'} lmsensors
                      PMDA implementations.
                      %a{:href => '/man/man1/pmlogrewrite.1.html'} pmlogrewrite
                      support for metric labels and help text.
                      Important bug fixes in the
                      %a{:href => '/man/man1/pmie.1.html'} pmie
                      ,
                      %a{:href => '/man/man1/pmchart.1.html'} pmchart
                      ,
                      %a{:href => '/man/man1/pcp-dstat.1.html'} pcp dstat
                      utilities.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Sep 2018
                      %br
                      PCP 4.1.3
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Support for PostgreSQL 10.x in a new python
                      %a{:href => '/man/man1/pmdapostgresql.1.html'} pmdapostgresql.
                      Labels support in
                      %a{:href => '/man/man1/pmlogrewrite.1.html'} pmlogrewrite
                      and improvements to other utilities like
                      %a{:href => '/man/man1/pcp-dstat.1.html'} pcp-dstat.
                      Improvements to the BCC, KVM, Redis and Linux kernel PMDAs.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Aug 2018
                      %br
                      PCP 4.1.1
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Improved archive management, BCC and KVM metric enhancements,
                      Memory Mapped Value metrics label support (name:value pairs).
                      Historical analysis in
                      %a{:href => '/man/man1/pcp-dstat.1.html'} pcp-dstat
                      and exporting of metrics to Apache Spark via a new
                      %a{:href => '/man/man1/pcp2spark.1.html'} pcp2spark
                      utility.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Jun 2018
                      %br
                      PCP 4.1.0
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      A colourful new
                      %a{:href => '/man/man1/pcp-dstat.1.html'} pcp-dstat
                      utility, building on the dstat legacy.
                      Archive discovery and log tailing APIs.
                      eBPF/BCC PMDA additions - new modules, histograms.
                      Kernel metrics - AIO, interrupts, socket statistics,
                      file locking, OOM, session count metrics.
                      Automatic metadata compression.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      May 2018
                      %br
                      PCP 4.0.2
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Further archive management improvements.
                      New
                      %a{:href => '/man/man1/pcp-pidstat.1.html'} pcp-pidstat
                      process tracking features.
                      Performance improvements and label filtering in the
                      %a{:href => '/man/man1/pmdaprometheus.1.html'} Prometheus
                      PMDA.
                      The
                      %a{:href => '/man/man1/pmdanfsclient.1.html'} nfsclient
                      PMDA rewritten in python.
                      New
                      %a{:href => '/man/man1/pmdasmart.1.html'} SMART
                      PMDA for disk health monitoring.
                      Better handling of compressed archives in
                      %a{:href => '/man/man1/pmwebd.1.html'} pmwebd.
                      Numerous important SELinux updates and bug fixes in libpcp.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      March 2018
                      %br
                      PCP 4.0.1
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Archive management improvements allowing fine-grained compression.
                      New shell-based PCP service discovery.
                      New daily reporting utility,
                      %a{:href => '/man/man1/pmlogger_daily_report.1.html'} pmlogger_daily_report.
                      Scalability improvements and metric filtering in the 
                      %a{:href => '/man/man1/pmdaprometheus.1.html'} Prometheus PMDA.
                      The
                      %a{:href => '/man/man1/pmdapostgresql.1.html'} PostgreSQL PMDA
                      now supports up to version 9.6.

    = Haml::Engine.new(File.read("assets/haml-includes/footer.haml")).render
