!!! html
%html
  %head
    = Haml::Engine.new(File.read("assets/haml-includes/head.haml")).render

  %body
    = Haml::Engine.new(File.read("assets/haml-includes/navigation.haml")).render

    %div{:class => 'site-content'}
      %div{:class => 'how-to is-typeset'}
        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'logo colspan12-12 colspan8-8 colspan6-6 colspan2-2 as-grid with-gutter'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-8 push12-2 colspan8-8 colspan6-6 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--cta'}
                  %h2 Performance Co-Pilot
                  %p Performance Co-Pilot is a system performance analysis toolkit.

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => 'images/collect.png'}
                  %h3 Collect
                  %ul
                    %li
                      %strong Lightweight
                      \: 
                      %a{:href => '/features.html#collect'} Collect
                      performance metrics from your systems efficiently.
                    %li
                      %strong Distributed
                      \: Collate metrics from 
                      %a{:href => '/features.html#distributed'} multiple hosts
                      and a variety of operating systems.
                    %li
                      %strong Included
                      \: Everything you need is already included in the major distributions: Fedora, RHEL, Debian, SUSE, Ubuntu, Gentoo

              %div{:class => 'colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => 'images/analyze.png'}
                  %h3 Analyze
                  %p
                    %a{:href => '/features.html#analyze'} Analyze
                    systems' performance metrics in real-time or using historical data.
                  %p 
                    Compare performance metrics between different hosts and different intervals.
                    Observe trends and identify abnormal patterns.

              %div{:class => 'colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => 'images/extend.png'}
                  %h3 Extend
                  %p
                    %a{:href => '/features.html#extend'}Extend
                    the collected performance metrics in a simple way.
                  %p
                    PCP offers a multitude of APIs and libraries to extract and
                    make use of performance metrics from your own application.

    %div{:class => 'hero'}
      %div{:class => 'colspan12-8 push12-2 colspan8-6 push8-1 colspan6-4 push6-1 colspan2-2'}
        %div{:class => 'col__module col__module--cta'}
          %h1 Use Performance Co-Pilot Now
          %div{:class => 'button-one'}
            %a{:href => '/docs/guide.html'} Quickstart
          %div{:class => 'button-two'}
            %a{:href => '/download.html'} Download
          %div{:class => 'button-four'}
            %a{:href => '/testimonials.html'} Who's Using It?
          %div{:class => 'button-five'}
            %a{:href => '/documentation.html'} Learn More

    %div{:class => 'hero2'}
      %div{:class => 'colspan12-8 push12-2 colspan8-6 push8-1 colspan6-4 push6-1 colspan2-2'}
        %div{:class => 'col__module col__module--cta'}
          %h1 News
          %div{:class => 'row-parent'}

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Feb 2021
                      %br
                      PCP 5.2.5
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      New Linux ZFS, High Availability (Pacemaker) and
                      detailed sockets metrics.
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmproxy.1.html'} pmproxy
                      memory management improvements.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Dec 2020
                      %br
                      PCP 5.2.3
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Performance improvements and process network statistics
                      support in the
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pcp-atop.1.html'} pcp-atop
                      command.
                      Experimental
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pcp-htop.1.html'} pcp-htop
                      command added.
                      Improvements to the
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmproxy.1.html'} pmproxy
                      REST API for fast, scalable
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmseries.1.html'} pmseries
                      querying.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Nov 2020
                      %br
                      PCP 5.2.2
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Minor bug fix release - especially in
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmproxy.1.html'} pmproxy
                      REST API, KVM, XFS and other Linux kernel metrics.
                      Support for hv_gpci and hv_24x7 core-level events in the
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmdaperfevent.1.html'} perfevent
                      agent.
                      New online version of the PCP Guides at
                      %a{:href => 'https://pcp.readthedocs.io'} readthedocs

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Sep 2020
                      %br
                      PCP 5.2.1
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Minor bug fix release.
                      Per-context derived metrics support, new REST APIs.
                      Support Windows authentication mode in the
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmdamssql.1.html'} SQL Server
                      agent.
                      Improved metric labels handling in the
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmdaopenmetrics.1.html'} OpenMetrics
                      agent, 
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pcp2elasticsearch.1.html'} pcp2elasticsearch
                      and
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pcp2spark.1.html'} pcp2spark
                      utilities.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Aug 2020
                      %br
                      PCP 5.2.0
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      New tools -
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmiectl.1.html'} pmiectl
                      ,
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmlogctl.1.html'} pmlogctl
                      ,
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmlogpaste.1.html'} pmlogpaste
                      and
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmsearch.1.html'} pmsearch .
                      New metrics for process accounting, ZRAM, multi-path TCP and S.M.A.R.T data.
                      Numerous bug fixes and retired
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pcpcompat.1.html'} pmmgr
                      in favour of the
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmfind_check.1.html'} pmfind
                      service.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      May 2020
                      %br
                      PCP 5.1.1
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Fixes and optimizations in systemd service management, and a new
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmfind.1.html'} pmfind
                      discovery timer service replacing the
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pcpcompat.1.html'} pmmgr
                      standalone daemon.
                      Metric labels support in
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmrep.1.html'} pmrep
                      and related tools,
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmcd.1.html'} pmcd
                      support for optional labels.
                      New metric collectors for
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmdaopenvswitch.1.html'} Open vSwitch
                      and
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmdarabbitmq.1.html'} RabbitMQ
                      servers.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Apr 2020
                      %br
                      PCP 5.1.0
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Bug-fix release -
                      improved systemd service units and archive logging enhancements.
                      Bug fixes and improvements in
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmproxy.1.html'} pmproxy
                      and several metric agents.
                      Monitor tool improvements and fixes in
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pcp-atop.1.html'} pcp-atop
                      and
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pcp-pmrep.1.html'} pmrep .
                      Continuous Integration impovements. New
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmdarabbitmq.1.html'} RabbitMQ
                      metrics.

    = Haml::Engine.new(File.read("assets/haml-includes/footer.haml")).render
