!!! html
%html
  %head
    = Haml::Engine.new(File.read("assets/haml-includes/head.haml")).render

  %body
    = Haml::Engine.new(File.read("assets/haml-includes/navigation.haml")).render

    %div{:class => 'site-content'}
      %div{:class => 'how-to is-typeset'}
        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'logo colspan12-12 colspan8-8 colspan6-6 colspan2-2 as-grid with-gutter'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-8 push12-2 colspan8-8 colspan6-6 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--cta'}
                  %h2 Performance Co-Pilot
                  %p Performance Co-Pilot is a system performance analysis toolkit.

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => 'images/collect.png'}
                  %h3 Collect
                  %ul
                    %li
                      %strong Lightweight
                      \: 
                      %a{:href => '/features.html#collect'} Collect
                      performance metrics from your systems efficiently.
                    %li
                      %strong Distributed
                      \: Collate metrics from 
                      %a{:href => '/features.html#distributed'} multiple hosts
                      and a variety of operating systems.
                    %li
                      %strong Included
                      \: Everything you need is already included in the major distributions: Fedora, RHEL, Debian, SUSE, Ubuntu, Gentoo

              %div{:class => 'colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => 'images/analyze.png'}
                  %h3 Analyze
                  %p
                    %a{:href => '/features.html#analyze'} Analyze
                    systems' performance metrics in real-time or using historical data.
                  %p 
                    Compare performance metrics between different hosts and different intervals.
                    Observe trends and identify abnormal patterns.

              %div{:class => 'colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => 'images/extend.png'}
                  %h3 Extend
                  %p
                    %a{:href => '/features.html#extend'}Extend
                    the collected performance metrics in a simple way.
                  %p
                    PCP offers a multitude of APIs and libraries to extract and
                    make use of performance metrics from your own application.

    %div{:class => 'hero'}
      %div{:class => 'colspan12-8 push12-2 colspan8-6 push8-1 colspan6-4 push6-1 colspan2-2'}
        %div{:class => 'col__module col__module--cta'}
          %h1 Use Performance Co-Pilot Now
          %div{:class => 'button-one'}
            %a{:href => '/docs/guide.html'} Quickstart
          %div{:class => 'button-two'}
            %a{:href => '/download.html'} Download
          %div{:class => 'button-four'}
            %a{:href => '/testimonials.html'} Who's Using It?
          %div{:class => 'button-five'}
            %a{:href => '/documentation.html'} Learn More

    %div{:class => 'hero2'}
      %div{:class => 'colspan12-8 push12-2 colspan8-6 push8-1 colspan6-4 push6-1 colspan2-2'}
        %div{:class => 'col__module col__module--cta'}
          %h1 News
          %div{:class => 'row-parent'}

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Oct 2025
                      %br
                      PCP 7.0.2
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Minor bugfix release.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Sep 2025
                      %br
                      PCP 7.0.1
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Minor feature and bug fix release.
                      Support for per-process metrics on macOS, additional NFSv4 metrics on Linux.
                      Bug fixes in 
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmproxy.1.html'} pmproxy
                      and
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pcp-mpstat.1.html'} pcp-mpstat
                      as well as the python API.
                      New
                      %a{:href => 'https://man7.org/linux/man-pages/man1/guidellm2pcp.1.html'} guidellm2pcp
                      utility for importing
                      %a{:href => 'https://github.com/vllm-project/guidellm'} GuideLLM
                      benchmark results into PCP archives.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Sep 2025
                      %br
                      PCP 7.0.0
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      The
                      %a{:href => 'https://github.com/performancecopilot/pcp/releases/download/7.0.0/pcp-7.0.0-1.dmg'} macOS DMG
                      packaging format is back!
                      New PCP metrics for
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmdahdb.1.html'} SAP HANA
                      databases,
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmdarocestat.1.html'} RDMA over Converged Ethernet
                      (RoCE),
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmdaopentelemetry.1.html'} OpenTelemetry,
                      as well as a native
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pcp2opentelemetry.1.html'} PCP-to-OpenTelemetry
                      exporter utility.
                      Additional REST API providing a remote logger webhook, which
                      allows decentralised configuration of centralised logging.
                      Allow the &quot;/metrics&quot; scrape REST API to produce
                      %a{:href => 'https://man7.org/linux/man-pages/man3/pmwebapi.3.html'} Open Telemetry JSON format
                      as an optional alternative to the existing Open Metrics text form.
                      Nanosecond timestamp precision is the default throughout the
                      PMAPI now, including through the core
                      %a{:href => 'https://man7.org/linux/man-pages/man3/pmfetch.3.html'} pmFetch
                      sampling API, when linking with the latest PCP library.
                      Additional Linux kernel virtual memory, SMART drive, HugeTLB,
                      networking and PaceMaker node metrics.
                      Numerous updates to both the main PCP container, as well as the
                      archive-analysis container providing fully integrated PCP,
                      %a{:href => 'https://grafana.com/grafana/plugins/performancecopilot-pcp-app/'} Grafana
                      and
                      %a{:href => 'https://valkey.io/'} Valkey
                      functionality for retrospective systems analysis.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Mar 2025
                      %br
                      PCP 6.3.7
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Bug fix release.
                      Bind2 metrics updates.
                      Denki (power) agent RAPL metrics support.
                      %a{:href => 'https://pcp.readthedocs.io/en/latest/api/'} PMWEBAPI
                      extended with metric scrape filtering functionality.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Mar 2025
                      %br
                      PCP 6.3.4
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Bug fix release.
                      Simplify NVIDIA metrics setup, new NUMA hugepages metrics,
                      and improved labels handling in the
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmlogger.1.html'} pmlogger ,
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmlogextract.1.html'} pmlogextract
                      and
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmproxy.1.html'} pmproxy
                      services.
                      Packaging improvements for Debian and RPM platforms.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Nov 2024
                      %br
                      PCP 6.3.2
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Minor bug fix release.
                      Optional support for zstd archive compression.
                      New per-process I/O metrics access control mechanism in the
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmdaproc.1.html'} proc
                      PMDA.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Sep 2024
                      %br
                      PCP 6.3.1
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Bug fix, security hardening release.
                      Adds vLLM metrics support by default.
                      Fixes to the
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmdahacluster.1.html'} hacluster 
                      metrics for new versions of Pacemaker.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Jul 2024
                      %br
                      PCP 6.3.0
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      AMD GPU metrics.
                      On 32 bit platforms, support for 64-bit time_t (Y2038).
                      Improvements to OpenMetrics specification conformance in
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pcp2openmetrics.1.html'} pcp2openmetrics.
                      Merged latest code (including GPU support) from the
                      %a{:href => 'https://htop.dev/'} htop
                      project into the PCP variant,
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pcp-htop.1.html'} pcp-htop.
                      New Linux virtual machine balloon metrics.
                      New 
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pcp-xsos.1.html'} pcp-xsos
                      utility for fast system summaries.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      May 2024
                      %br
                      PCP 6.2.2
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Minor bug fix release.
                      Updates to
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmdalibvirt.1.html'} libvirt
                      and
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmdauwsgi.1.html'} uWSGI
                      metrics, as well as new Linux kernel VM balloon metrics.
                      Fixes in
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmrep.1.html'} pmrep
                      configurations and the
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pcp2openmetrics.1.html'} pcp2openmetrics
                      utility.
                      Improvements to derived metrics and a new logging throttle
                      mechanism in libpcp.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Apr 2024
                      %br
                      PCP 6.2.1
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Minor feature and bug fix release.
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmdauwsgi.1.html'} uWSGI
                      metrics.
                      New
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pcp2openmetrics.1.html'} pcp2openmetrics
                      tool for pushing PCP metrics in OpenMetrics format to remote hosts.
                      Several new Linux kernel metrics in various subsystems (filesystems,
                      virtual memory, hugepages, networking and eBPF).
                      New management utility
                      %a{:href => 'https://man7.org/linux/man-pages/man1/pmcheck.1.html'} pmcheck
                      to scan an installation and check for missing packages and metrics.

    = Haml::Engine.new(File.read("assets/haml-includes/footer.haml")).render
