!!! html
%html
  %head
    = Haml::Engine.new(File.read("assets/haml-includes/head.haml")).render

  %body
    = Haml::Engine.new(File.read("assets/haml-includes/navigation.haml")).render

    %div{:class => 'site-content'}
      %div{:class => 'how-to is-typeset'}
        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'logo colspan12-12 colspan8-8 colspan6-6 colspan2-2 as-grid with-gutter'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-8 push12-2 colspan8-8 colspan6-6 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--cta'}
                  %h2 Performance Co-Pilot
                  %p Performance Co-Pilot is a system performance analysis toolkit.

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => 'images/collect.png'}
                  %h3 Collect
                  %ul
                    %li
                      %strong Lightweight
                      \: 
                      %a{:href => '/features.html#collect'} Collect
                      performance metrics from your systems efficiently.
                    %li
                      %strong Distributed
                      \: Collate metrics from 
                      %a{:href => '/features.html#distributed'} multiple hosts
                      and a variety of operating systems.
                    %li
                      %strong Included
                      \: Everything you need is already included in the major distributions: Fedora, RHEL, Debian, SUSE, Ubuntu, Gentoo

              %div{:class => 'colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => 'images/analyze.png'}
                  %h3 Analyze
                  %p
                    %a{:href => '/features.html#analyze'} Analyze
                    systems' performance metrics in real-time or using historical data.
                  %p 
                    Compare performance metrics between different hosts and different intervals.
                    Observe trends and identify abnormal patterns.

              %div{:class => 'colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %img{:src => 'images/extend.png'}
                  %h3 Extend
                  %p
                    %a{:href => '/features.html#extend'}Extend
                    the collected performance metrics in a simple way.
                  %p
                    PCP offers a multitude of APIs and libraries to extract and
                    make use of performance metrics from your own application.

    %div{:class => 'hero'}
      %div{:class => 'colspan12-8 push12-2 colspan8-6 push8-1 colspan6-4 push6-1 colspan2-2'}
        %div{:class => 'col__module col__module--cta'}
          %h1 Use Performance Co-Pilot Now
          %div{:class => 'button-one'}
            %a{:href => '/docs/guide.html'} Quickstart
          %div{:class => 'button-two'}
            %a{:href => '/download.html'} Download
          %div{:class => 'button-four'}
            %a{:href => '/testimonials.html'} Who's Using It?
          %div{:class => 'button-five'}
            %a{:href => '/documentation.html'} Learn More

    %div{:class => 'hero2'}
      %div{:class => 'colspan12-8 push12-2 colspan8-6 push8-1 colspan6-4 push6-1 colspan2-2'}
        %div{:class => 'col__module col__module--cta'}
          %h1 News
          %div{:class => 'row-parent'}

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Apr 2019
                      %br
                      PCP 4.3.2
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Primarily a bug-fix release.
                      %a{:href => '/man/man1/pmcd.1.html'} pmcd
                      'fencing' support - suspending and resuming PMDAs during
                      critical computation phases (HPC users).
                      %a{:href => '/man/man1/pmproxy.1.html'} pmproxy
                      in time series mode supporting configuration files,
                      Redis cluster protocol, and is also able to proxy
                      the Redis wire protocol now.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Feb 2019
                      %br
                      PCP 4.3.1
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Linux kernel Pressure Stall Information (PSI) metrics.
                      BSD kernel, Linux VDO, BCC/eBPF metric fixes.
                      Per-process Nvidia GPU metrics.
                      Support for GPU, PSI, Infiniband and perfevent metrics in
                      %a{:href => '/man/man1/pcp-atop.1.html'} pcp-atop
                      Native systemd timer support.
                      New features and fixes in the
                      %a{:href => '/man/man1/pmseries.1.html'} pmseries
                      scalable time series analysis utility.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Dec 2018
                      %br
                      PCP 4.3.0
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      New (experimental)
                      %a{:href => '/man/man1/pmseries.1.html'} pmseries
                      timeseries analysis tool.
                      Numerous updates to
                      %a{:href => '/man/man1/pmdapostgresql.1.html'} postgresql
                      ,
                      %a{:href => '/man/man1/pmdafreebsd.1.html'} freebsd
                      and
                      %a{:href => '/man/man1/pmdaperfevent.1.html'} perfevent
                      PMDA implementations.
                      Derived metric language extentions.
                      %a{:href => '/man/man1/pmrep.1.html'} pmrep
                      name change event handling.
                      Fine tuned pcp-zeroconf space usage and log management scripts.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Nov 2018
                      %br
                      PCP 4.2.0
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      %a{:href => 'https://podman.io/'} podman
                      container metrics and PMDA.
                      New
                      %a{:href => '/man/man1/pmdaelasticsearch.1.html'} elasticsearch
                      and
                      %a{:href => '/man/man1/pmdalmsensors.1.html'} lmsensors
                      PMDA implementations.
                      %a{:href => '/man/man1/pmlogrewrite.1.html'} pmlogrewrite
                      support for metric labels and help text.
                      Important bug fixes in the
                      %a{:href => '/man/man1/pmie.1.html'} pmie
                      ,
                      %a{:href => '/man/man1/pmchart.1.html'} pmchart
                      ,
                      %a{:href => '/man/man1/pcp-dstat.1.html'} pcp dstat
                      utilities.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Sep 2018
                      %br
                      PCP 4.1.3
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Support for PostgreSQL 10.x in a new python
                      %a{:href => '/man/man1/pmdapostgresql.1.html'} pmdapostgresql.
                      Labels support in
                      %a{:href => '/man/man1/pmlogrewrite.1.html'} pmlogrewrite
                      and improvements to other utilities like
                      %a{:href => '/man/man1/pcp-dstat.1.html'} pcp-dstat.
                      Improvements to the BCC, KVM, Redis and Linux kernel PMDAs.

            %div{:class => 'row'}
              %section{:class => 'row__colspaced'}
                %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'col__module--cta'}
                    %p
                      Aug 2018
                      %br
                      PCP 4.1.1
                %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                  %div{:class => 'features_left col__module--cta'}
                    %p
                      Improved archive management, BCC and KVM metric enhancements,
                      Memory Mapped Value metrics label support (name:value pairs).
                      Historical analysis in
                      %a{:href => '/man/man1/pcp-dstat.1.html'} pcp-dstat
                      and exporting of metrics to Apache Spark via a new
                      %a{:href => '/man/man1/pcp2spark.1.html'} pcp2spark
                      utility.

    = Haml::Engine.new(File.read("assets/haml-includes/footer.haml")).render
