!!! html
%html
  %head
    = Haml::Engine.new(File.read("assets/haml-includes/head.haml")).render

  %body
    = Haml::Engine.new(File.read("assets/haml-includes/navigation.haml")).render

    %div{:class => 'site-content'}
      %div{:class => 'how-to is-typeset'}
        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-8 push12-2 colspan8-8 colspan6-6 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--cta'}
                  %h2 News

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-8 push12-2 colspan8-8 colspan6-6 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--cta'}
                  %h3 2015

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2015, March 2
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    %a{:href => 'https://github.com/performancecopilot/pcp/tree/9b56a333538f1b35345cbb21e49c740fb4222245'}PCP 3.10.3
                    %ul
                      %li ongoing improvements to the native containers support
                      %li pmlogger on-the-fly one-shot recording BZ#1073
                      %li doc: containers tutorial.
                    %ul
                      %li build: new scripts directory. Contains useful scripts for project management tasks.
                      %li build: python-pcp no longer required.
                      %li build: python3 now used where available RHBZ#1194324
                      %li build: new --with-papi configure option.
                    %ul
                      %li qa: lots of improvements for robustness, portablity and determinism.
                      %li qa: duplicate PMNS names allowed by default.
                    %ul
                      %li pmdapapi: add papi refresh/read batching: papi.control.batch.
                      %li pmdalinux: improve /proc/cpuinfo parser for irregular formats.
                      %li services: ensure that they start after pmcd.
                    %ul
                      %li libpcp: allow duplicate names to map to the same PMID by default.
                      %li libpcp: duplicate PMNS names allowed by default.
                      %li pminfo: duplicate PMNS names allowed by default. Reverse the semantics of the -n and -N options.
                      %li pmlogger: duplicate PMNS names allowed by default
                      %li dbpmda: duplicate PMNS names allowed by default
                      %li pmcd: duplicate PMNS names allowed by default. Reverse the semantics of the -n and -N options.
                      %li pmdumplog: duplicate PMNS names allowed by default.
                      %li pmlogreduce: duplicate PMNS names allowed by default.
                      %li pmlogsummary: duplicate PMNS names allowed by default.
                      %li pmlogcheck: duplicate PMNS names allowed by default.
                      %li pmevent: duplicate PMNS names allowed by default.
                      %li pmchart: add an extra optional chart colour scheme.
                      %li solaris PMDA: duplicate PMNS names allowed by default.
                    %ul
                      %li ganglia2pcp: new utility.
                      %li bug fix: pmlogger: signal delivery may lead to deadlock BZ#1104
                      %li bug fix: libpcp: AF functionality has posix-signal-unsafe elements BZ#1069

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2015, January 23
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    PCP 3.10.2 released.
                    %ul
                      %li PMAPI extension: pmParseUnitsStr. Includes python binding
                    %ul
                      %li libpcp/pmcd: protocol-level support for containers
                      %li libpcp_pmda - add pmdaInterfaceMoved() function
                    %ul
                      %li pmdalinux: improve help text for network metrics
                      %li pmdalinux: remove support for devfs device names - replaced by udev
                      %li pmdalinux: rework hinv.map.scsi for longer scsi device names and indom
                      %li pmdalinux: switch to running as a daemon, as root persistence
                    %ul
                      %li activeMQ: new pmda
                      %li CIFS: new pmda (Common Internet File System)
                      %li pmda unbound: a new PMDA for the Unbound DNS resolver
                    %ul
                      %li pmdapapi: add configure conditional to test for PAPI_component_info_t-&gt;disabled
                      %li pmdapapi: add papi.available.version to output current PAPI version being used
                      %li pmdapapi: other new metrics
                      %li pmdapapi: drop root requirement for less sensitive papi.available metrics
                      %li pmdapapi: use dynamic metric description
                    %ul
                      %li dbpmda: extend string syntax to include both " and ' delimiters
                      %li rc_pmcd: execute _pmda_setup in the background
                      %li Solaris build improvements: Support for Solaris symbol versioning and use a libcpp exports comment style that works for both Linux and Solaris
                      %li pmwebd: buildability fixes for illumos-based distros
                      %li pmda root: a privileged pmcd co-process Initial implementation of "pmdaroot", a helper co-process for pmcd that runs with elevated privileges and is able to (well, will be able to soon) offer services to pmcd and to other PMDAs where root access is required
                    %ul
                      %li pmdaroot/libpcp_pmda: interfaces for changing namespaces
                      %li pmlogextract robustness improvements
                      %li add pcp2graphite
                      %li fix security PR1101: unprivileged access to linux proc.* metrics on modern kernel
                      %li Fedora 1180109: pmda cleanup was killing unrelated python and perl processes


        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-8 push12-2 colspan8-8 colspan6-6 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--cta'}
                  %h3 2014
        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2014, December 31
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    PCP 3.10.1 released.
                    %ul
                      %li
                        pmda proc: rework existing per-cgroup metrics - no
                        longer use dynamic metrics, allowing arbitray names
                        %br
                        pmda proc: add many new per-cgroup metrics, audited
                        definitions (units, etc) for existing metrics.
                      %li
                        perfevent pmda: new libpfm hardware counters agent
                      %li 
                        papi pmda: switch to using dynamic metrics
                        %br
                        papi pmda: multiplexing, auto-enabling options
                        %br
                        papi pmda: added a new papi.control.reset metric
                      %li
                        pmwebd: improve /metrics/find for graphite dashboard
                        %br
                        pmwebd: $PCP_SHARE_DIR/webapps - default web content
                      %li
                        docs: clarify web services section in quick guide
                        %br
                        docs: fix books build for current publican versions
                        %br
                        docs: enable building of html book content as well
                      %li
                        linux pmda: improve aarch64 /proc/cpuinfo parsing
                        %br
                        libpcp: fix 64bit endian bug in highres event timers

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2014, October 31
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    %a{:href => 'https://github.com/performancecopilot/pcp/blob/058060540f880496d6bb89c96c7deac13545f793/CHANGELOG'}PCP 3.10.0
                    released. Python v3 modules, Web service and front-end
                    updates to support Graphite/Grafana, DS 389 PMDAs. 

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2014, September 5
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    PCP 3.9.10 released. Nanosecond resolution event
                    timestamps, PAPI PMDA, systemd unit files, bug fixes. 

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2014, August 13
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    PCP 3.9.9 released. Python API updates, iostat and dm-cache
                    tools, dm-cache PMDA, sar2pcp updates, new derived metrics
                    rate() syntax. 

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2014, July 16
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    PCP 3.9.7 released. Nvidia GPU PMDA, pmie language
                    extensions, more cgroup metrics, bug fixes. 

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2014, June 18
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    PCP 3.9.5 released. Active service probing, Python API
                    extensions, bug fixes. 

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2014, May 15
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    PCP 3.9.4 released. PCP and PCP GUI source trees merged,
                    pmlogger I/O improvements, long option shell scripts. 

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2014, April 15
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    PCP 3.9.2 released. Python API extensions, pmdarpm
                    updates, further long option work. 

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2014, March 19
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    PCP 3.9.1 released. NFS client and compressed swap (zswap)
                    PMDAs, initial long option support, extended time/date
                    syntax.

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2014, March 6
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    PCP GUI 1.5.13 released. Several pmchart usability
                    improvements, particularly around simultaneous use of
                    multiple hosts.

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2014, February 19
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    PCP 3.9.0 and PCP GUI 1.5.12 released. Packaging split
                    (pcp-conf, pcp-manager, pcp-webapi), multilib support,
                    python documentation, bug fixes. 

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2014, January 29
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    PCP 3.8.12 released. Bugfix release - pmlogger
                    optimizations, fix namespace error on new installs. 

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2014, January 15
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    PCP 3.8.10 released. Discovery work (pmfind tool and PMAPI
                    extension), new management tool (pmmgr), and the usual
                    improvements and fixes across the board. 

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-8 push12-2 colspan8-8 colspan6-6 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--cta'}
                  %h3 2013

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2013, December 12
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    PCP 3.8.9 released. Bugfix release. Initial RPM Package
                    Manager PMDA.

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2013, November 26
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 
                    Red Hat Developer blog post and video (2/2):
                    %a{:href => 'http://developerblog.redhat.com/2013/11/26/performance-regression-pcp/'} Performance Regression Analysis

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2013, November 19
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    Red Hat Developer blog post and video (1/2):
                    %a{:href => 'http://developerblog.redhat.com/2013/11/19/exploratory-performance-pcp/'} Exploratory Performance Analysis

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2013, November 1
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    PCP 3.8.6 and PCP GUI 1.5.11 released. Minor bugfix
                    releases. 

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2013, October 18
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    PCP 3.8.5 released. Bugfix release. 

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2013, September 10
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    PCP 3.8.3 and PCP GUI 1.5.10 released. New versions of the
                    PCP books, Unix domain sockets the default for local
                    connections, static probe support in pmcd. 

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2013, July 31
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    PCP 3.8.2 and PCP GUI 1.5.9 released. Unix domain socket
                    transport, pmlogger and pmie default enablement, gluster
                    PMDA, SASL updates, user and group based access control. 

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2013, June 19
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    PCP 3.8.1 released. Initial support for Python PMDAs. 

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2013, May 14
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    PCP 3.8.0 released. Web API daemon, optional user
                    authentication support, nginx metrics, revamped python APIs
                    and pmatop tool. 

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2013, April 19
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    PCP 3.7.2 and PCP GUI 1.5.8 released. Bugfix releases. 

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-2 colspan8-2 colspan6-1 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p 2013, March 11
              %div{:class => 'colspan12-8 colspan8-6 colspan6-5 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--img'}
                  %p
                    PCP 3.7.0 released. IPv6 and optional protocol encryption,
                    NetBSD port, new gfs2 and systemd PMDAs, MySQL, named and
                    Linux kernel PMDA updates.

        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-8 push12-2 colspan8-8 colspan6-6 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--cta'}
                  %h3
                    %a{:href => '/old_news.html'} Older News

    = Haml::Engine.new(File.read("assets/haml-includes/footer.haml")).render
