!!! html
%html
  %head
    = Haml::Engine.new(File.read("assets/haml-includes/head.haml")).render

  %body
    = Haml::Engine.new(File.read("assets/haml-includes/navigation.haml")).render

    %div{:class => 'site-content'}
      %div{:class => 'how-to is-typeset'}
        %div{:class => 'row-parent'}
          %div{:class => 'row'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'logo colspan12-12 colspan8-8 colspan6-6 colspan2-2 as-grid with-gutter'}
            %section{:class => 'row__colspaced'}
              %div{:class => 'colspan12-8 push12-2 colspan8-8 colspan6-6 colspan2-1 as-grid with-gutter'}
                %div{:class => 'col__module--cta'}
                  %h2 Maintainers
                  %p Performance Co-Pilot releases are coordinated by the core team.
                  %br
                  %ul
                    %li
                      %a{:href => 'https://github.com/kurik'} Jan Kurik
                    %li
                      %a{:href => 'https://github.com/kmcdonell'} Ken McDonell
                    %li
                      %a{:href => 'https://github.com/lmchilton'} Lauren Chilton
                    %li
                      %a{:href => 'https://github.com/myllynen'} Marko Myllynen
                    %li
                      %a{:href => 'https://github.com/natoscott'} Nathan Scott
                    %li
                      %a{:href => 'https://github.com/tallpsmith'} Paul Smith
                    %li
                      %a{:href => 'https://github.com/sfeifer'} Sam Feifer
                    %li
                      %a{:href => 'https://github.com/wcohen'} Will Cohen
                  %br
                  %p
                    Bringing together the efforts of a fantastic
                    %a{:href => 'https://github.com/performancecopilot/pcp/graphs/contributors'} developer community.

    = Haml::Engine.new(File.read("assets/haml-includes/footer.haml")).render
