%footer{:class => 'global-footer is-typeset'} 
  %div{:class => 'row-parent'}
    %div{:class => 'row'}
      %section{:class => 'row__colspaced'}
        %div{:class => 'colspan12-3 colspan8-2 colspan6-2 colspan2-2 as-grid with-gutter'}
          %div{:class => 'col__module'}
            %h4 Main Menu
            %ul
              %li
                %a{:href => "/features.html"} Features
              %li
                %a{:href => "/documentation.html"} Documentation
              %li
                %a{:class => "download", :href => "/download.html"} Download

        %div{:class => 'colspan12-3 colspan8-2 colspan6-2 colspan2-2 as-grid with-gutter'}
          %div{:class => 'col__module'}
            %h4 Developers
            %ul
              %li
                %a{:href => "http://git.pcp.io/bugzilla"} Report a bug
              %li
                %a{:href => "/community.html"}Contributing
              %li
                %a{:href => "/team.html"} Team

        %div{:class => 'colspan12-3 colspan8-2 colspan6-2 colspan2-2 as-grid with-gutter'}
          %div{:class => 'col__module'}
            %h4 About
            %ul
              %li
                %a{:href => "/news.html"} News
              %li
                %a{:href => "/testimonials.html"} Testimonials
              %li
                %a{:href => "/faq.html"} FAQ
              %li
                %a{:href => "/website.html"} Website

        %div{:class => 'colspan12-3 colspan8-2 colspan6-2 colspan2-2 as-grid with-gutter'}
          %div{:class => 'col__module'}
            %h4 Get Social
            %ul
              %li
                %a{:href => "https://twitter.com/performancepcp", :class => 'twitter', :rel => 'external'} Twitter
              %li
                %a{:href => "https://github.com/performancecopilot/pcp", :class => 'github', :rel => 'external'} Github
    %div{:class => 'row'}
      %div{:class => 'colspan2-2'}
        %p{:class => 'legal'}
          Copyright &copy; 2000-2004 Silicon Graphics Inc, 2007-2010 Aconex, 2012-2014 Red Hat
