%header{:class => "global-header"}  
  %div{:class => "row"}
    %h1{:class => "global-logo colspan12-6 colspan8-4 colspan6-3 colspan2-1 as-grid"}
      %a{:href => "/index.html"}Performance Co-Pilot
    %nav{:class => "global-header__navigation colspan12-6 colspan8-6 colspan6-4 colspan2-1 as-grid"}
      %ul
        %li
          %a{:href => "/features.html"} Features
        %li
          %a{:href => "/documentation.html"} Documentation
        %li
          %a{:href => "/download.html"} Download
        %li
          %a{:href => "/community.html"} Get Involved
